<html lang="en">
    <head>
        <title>Solus Packaging Dashboard{% if page_title %} - {{ page_title }}{% endif %}</title>
        <link rel="stylesheet" href="./css/missing.css">
        <link rel="stylesheet" href="./css/extras.css">
        <script src="./js/sortable.min.js"></script>
        <script src="./js/hyperscript.js"></script>
    </head>
    <body>
        <header>
            <div class="title">{{ page_title }}</div>
        </header>
        {% block body %}
        {% endblock %}
    </body>
</html>